@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url("../images/bgph2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
   
}


.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 1;
}

.logowebsite{
    margin: 20 20 20 20; 
    border: solid rgba(255, 255, 255, 0.096); 
    border-radius: 40px;
    width:100px;
    height:70px;
}
.link:hover, 
.active{
    border-bottom: 2px solid #f846c3;
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    
}
.nav-button .btn:hover{
    background: #F72C5B;
    color: #fff;
}

.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #222222;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(228, 228, 228, 0.25);
    color: #000000;
}

.input-box {
    position: relative; 
    margin-bottom: 5px; 
}

.input-box input {
    width: 100%; 
    padding: 10px 15px 10px 40px;
    border: 1px solid #ccc; 
    border-radius: 25px; 
    background: rgba(255, 255, 255, 0.8); 
    font-size: 16px; 
    color: #333; 
    outline: none; 
    box-sizing: border-box; 
}

input:focus {
    border: 2px solid rgb(88, 88, 255);
  
  }

.input-box i {
    position: absolute; 
    top: 50%; 
    left: 10px; 
    transform: translateY(-50%); 
    color: #888; 
    pointer-events: none; 
}


.error-message {
    color: #ff4757;
    margin-bottom: 10px;
    display: none;
  }
  .error {
    border-color: #ff2e40;
  }
  input[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

@media only screen and (max-width: 786px){
    .nav-button{
        display: none;
    }
   
   .nav .logowebsite{
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
}

@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
        margin-top: 90px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
   
}