:root {
    --primary-color: #FFE5B4;
    --secondary-color: #99734d;
    --background-color: #ecf0f1;
    --card-background:hwb(30 44% 31%);
    --text-color: #333;
    --gold:#D4A373;
    --muted-orange:#E87C50;
 

}
*{
    font-family:   'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    font-family:   'Segoe UI', Roboto,  'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profilesection{
    
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
}
.profile {
    
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--card-background);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
#updateProfileForm {
    
    margin-left:  160px;
    
}
#updateProfileForm button{
    margin-left:  170px;
    
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #222222;
    height: 50px;
    width: 80%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
    
}
.input-field:hover, .input-field:focus{
    background: rgba(228, 228, 228, 0.25);
    color: #000000;
    border: 1px solid #0a4d12;
}

h1, h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
}
.profile-info, .orders {
    margin-top: 30px;
}
.profile-info p, .orders p {
    margin: 15px 0;
    font-size: 16px;
    color: #000000;
}
.label {
    font-weight: bold;
    display: inline-block;
    width: 120px;
    color: var(--primary-color);
}
.error {
    color: #e74c3c;
    text-align: center;
    font-weight: bold;
}
a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #ebebeb
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #283618 ;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color:#606c38;
}
.order-item {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}
.order-item:hover {
    transform: translateY(-5px);
}


.toast {
    visibility: hidden;
    min-width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1000;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-size: 16px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1)
}