<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/admindash.css">
    <title> Admin Dashboard </title>

</head>
<body>

    <div class="container">
        <h1>Welcome, Admin</h1>
        <a href="#" class="button">Manage Users</a>
        <a href="#" class="button">Manage Orders</a>
        <a href="{{ url_for('logout') }}" class="button logout">Logout</a>
    </div>

</body>
</html>
